.container {
    max-width: 1000px;
    margin: auto;
  }
  
  .message-item {
    padding: 5px;
    border-radius: 10px;
    margin-bottom:5px;
    max-width: 70%;
  }
  
  .message-content {
    padding: 5px;
    background-color: #f1f0f0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .message-sender {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-bottom: 3px;
  }
  
  .message-text {
    font-size: 16px;
    margin-bottom: 3px;
  }
  
  .message-time {
    font-size: 12px;
    margin-bottom: 3px;
    color: #999;
  }
  
  .right {
    align-self: flex-end;
    background-color: #dcf8c6; /* Light green */
  }
  
  .left {
    align-self: flex-start;
    background-color: #e8e8e8; /* Light gray */
  }
  .dot-indicator {
    width: 13px; /* Adjust width as needed */
    height: 13px; /* Adjust height as needed */
    border-radius: 50%; /* Make it a circle */
    display: inline-block; /* Ensure it aligns properly */
  }
  